@page
@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs
@model PinesUI.LiveDemo.Pages.Components.BadgeModel

@{
    ViewData["Title"] = "Badge";

    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <div class=""flex flex-wrap gap-2"">");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Neutral"">Neutral</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Blue"">Blue</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Red"">Red</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Yellow"">Yellow</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Purple"">Purple</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Primary"" color=""Green"">Green</pines-badge>");
    codeCreator.AppendLine(@"  </div>");

    var primaryBadgesCode = codeCreator.ToString();
    codeCreator.Clear();

    codeCreator.AppendLine(@"  <div class=""flex flex-wrap gap-2"">");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Neutral"">Neutral</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Blue"">Blue</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Red"">Red</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Yellow"">Yellow</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Purple"">Purple</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Secondary"" color=""Green"">Green</pines-badge>");
    codeCreator.AppendLine(@"  </div>");

    var secondaryBadgesCode = codeCreator.ToString();
    codeCreator.Clear();

    codeCreator.AppendLine(@"  <div class=""flex flex-wrap gap-2"">");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Neutral"">Neutral</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Blue"">Blue</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Red"">Red</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Yellow"">Yellow</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Purple"">Purple</pines-badge>");
    codeCreator.AppendLine(@"    <pines-badge type=""Outlined"" color=""Green"">Green</pines-badge>");
    codeCreator.AppendLine(@"  </div>");

    var outlinedBadgesCode = codeCreator.ToString();
    codeCreator.Clear();


}

<h2>Badge</h2>
<p class="text-neutral-500 mb-5">Small status indicators and labels that can be attached to other elements.</p>

<h3>Primary Badges</h3>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <div class="flex flex-wrap gap-2">
            <pines-badge type="Primary" color="Neutral">Neutral</pines-badge>
            <pines-badge type="Primary" color="Blue">Blue</pines-badge>
            <pines-badge type="Primary" color="Red">Red</pines-badge>
            <pines-badge type="Primary" color="Yellow">Yellow</pines-badge>
            <pines-badge type="Primary" color="Purple">Purple</pines-badge>
            <pines-badge type="Primary" color="Green">Green</pines-badge>
        </div>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@primaryBadgesCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Secondary Badges</h3>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <div class="flex flex-wrap gap-2">
            <pines-badge type="Secondary" color="Neutral">Neutral</pines-badge>
            <pines-badge type="Secondary" color="Blue">Blue</pines-badge>
            <pines-badge type="Secondary" color="Red">Red</pines-badge>
            <pines-badge type="Secondary" color="Yellow">Yellow</pines-badge>
            <pines-badge type="Secondary" color="Purple">Purple</pines-badge>
            <pines-badge type="Secondary" color="Green">Green</pines-badge>
        </div>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@secondaryBadgesCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Outlined Badges</h3>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <div class="flex flex-wrap gap-2">
            <pines-badge type="Outlined" color="Neutral">Neutral</pines-badge>
            <pines-badge type="Outlined" color="Blue">Blue</pines-badge>
            <pines-badge type="Outlined" color="Red">Red</pines-badge>
            <pines-badge type="Outlined" color="Yellow">Yellow</pines-badge>
            <pines-badge type="Outlined" color="Purple">Purple</pines-badge>
            <pines-badge type="Outlined" color="Green">Green</pines-badge>
        </div>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@outlinedBadgesCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="badge-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>type</pines-table-cell>
            <pines-table-cell>BadgeType: Primary | Secondary | Outlined</pines-table-cell>
            <pines-table-cell>The badge style variant.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>color</pines-table-cell>
            <pines-table-cell>BadgeColor: Neutral | Blue | Red | Yellow | Purple | Green</pines-table-cell>
            <pines-table-cell>The badge color.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>
<p class="text-neutral-500 text-sm mt-2 mb-8">This uses child content as a primary form of content display.</p>
