@page
@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs
@model PinesUI.LiveDemo.Pages.Components.BannerModel

@{
    ViewData["Title"] = "Banner";

    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <pines-banner head=""Welcome to Pines UI"" body=""A collection of beautiful UI components built with Alpine.js and Tailwind CSS.""></pines-banner>");

    var bannerCode = codeCreator.ToString();
    codeCreator.Clear();
}

<h2>Banner</h2>
<p class="text-neutral-500 mb-5">Full-width notification bars for important announcements or warnings.</p>

<h3>Banner Code</h3>

<pines-banner head="Welcome to Pines UI" body="A collection of beautiful UI components built with Alpine.js and Tailwind CSS."></pines-banner>

<code-highlight lang="html" code="@bannerCode"></code-highlight>