@page
@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs
@model PinesUI.LiveDemo.Pages.Components.BannerModel

@{
    ViewData["Title"] = "Banner";

    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <pines-banner head=""Welcome to Pines UI"" body=""A collection of beautiful UI components built with Alpine.js and Tailwind CSS.""></pines-banner>");

    var bannerCode = codeCreator.ToString();
    codeCreator.Clear();
}

<h2>Banner</h2>
<p class="text-neutral-500 mb-5">Full-width notification bars for important announcements or warnings.</p>

<h3>Banner</h3>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-banner head="Welcome to Pines UI" body="A collection of beautiful UI components built with Alpine.js and Tailwind CSS."></pines-banner>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@bannerCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="banner-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>head</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>The banner headline.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>body</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>The banner body text.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>
