@page
@model PinesUI.LiveDemo.Components.ComponentPages.CardsModel

@using System.Text
@using TechGems.PinesUI.Views.Components.PinesCard
@using TechGems.PinesUI.Views.Components.PinesTabs

@{
    ViewData["Title"] = "Alerts";

    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <pines-image-card image-url=""https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"" class=""w-[380px]"" title=""Card Title"">");
    codeCreator.AppendLine(@"    <slot name=""@PinesImageCard.CardContentSlot"">");
    codeCreator.AppendLine(@"      This is my card's content.");
    codeCreator.AppendLine(@"    </slot>");
    codeCreator.AppendLine(@"  </pines-image-card>");

    var primaryBlueAlertCode = codeCreator.ToString();
    codeCreator.Clear();

}

<h2>Cards</h2>
<p class="text-neutral-500 mb-5">Content containers for displaying grouped information with images and text.</p>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-image-card image-url="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="w-[380px]" title="Card Title">
            <slot name="@PinesImageCard.CardContentSlot">
                This is my card's content.
            </slot>

        </pines-image-card>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@primaryBlueAlertCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="card-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Default</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>image-url</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>N/A</pines-table-cell>
            <pines-table-cell>URL of the card's cover image.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>title</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>N/A</pines-table-cell>
            <pines-table-cell>The card title.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>class</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>""</pines-table-cell>
            <pines-table-cell>Additional CSS classes.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>
<p class="text-neutral-500 text-sm mt-2 mb-8">Accepts a named slot: <code>&lt;slot name="@@PinesImageCard.CardContentSlot"&gt;</code> for card body content.</p>
