@page

@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs

@model PinesUI.LiveDemo.Pages.Components.ImageGalleryModel
@{
    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    var images = new List<TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem>()
    {
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-01.jpeg",
            ImageAlt = "Image 1"
        },
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-02.jpeg",
            ImageAlt = "Image 2"
        },
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-03.jpeg",
            ImageAlt = "Image 3"
        },
    };


    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  @{");
    codeCreator.AppendLine(@"      var images = new List<TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem>()");
    codeCreator.AppendLine(@"      {");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-01.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 1""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-02.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 2""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-03.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 3""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"      }");
    codeCreator.AppendLine(@"  }");
    codeCreator.AppendLine(@"");
    codeCreator.AppendLine(@"  <pines-image-gallery image-list=""images"" />");

    var imageGalleryCode = codeCreator.ToString();
    codeCreator.Clear();

}

<h2>Image Gallery</h2>
<p class="text-neutral-500 mb-5">Interactive image viewer with thumbnail navigation and fullscreen lightbox.</p>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-image-gallery image-list="images" />
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@imageGalleryCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="gallery-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Default</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>image-list</pines-table-cell>
            <pines-table-cell>List&lt;GalleryItem&gt;</pines-table-cell>
            <pines-table-cell>new List&lt;&gt;()</pines-table-cell>
            <pines-table-cell>List of images to display.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>

<h4>GalleryItem Properties</h4>
<pines-table table-id="gallery-item-props">
    <pines-table-header>
        <pines-table-cell is-header="true">Property</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>ImageUrl</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>URL of the image (serialized as "photo").</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>ImageAlt</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>Alt text for the image (serialized as "alt").</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>

