@page

@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs

@model PinesUI.LiveDemo.Pages.Components.ImageGalleryModel
@{
    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    var images = new List<TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem>()
    {
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-01.jpeg",
            ImageAlt = "Image 1"
        },
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-02.jpeg",
            ImageAlt = "Image 2"
        },
        new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem
        {
            ImageUrl = "https://cdn.devdojo.com/images/june2023/mountains-03.jpeg",
            ImageAlt = "Image 3"
        },
    };


    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  @{");
    codeCreator.AppendLine(@"      var images = new List<TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem>()");
    codeCreator.AppendLine(@"      {");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-01.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 1""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-02.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 2""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"          new TechGems.PinesUI.Views.Components.PinesImageGallery.GalleryItem");
    codeCreator.AppendLine(@"          {");
    codeCreator.AppendLine(@"              ImageUrl = ""https://cdn.devdojo.com/images/june2023/mountains-03.jpeg"",");
    codeCreator.AppendLine(@"              ImageAlt = ""Image 3""");
    codeCreator.AppendLine(@"          },");
    codeCreator.AppendLine(@"      }");
    codeCreator.AppendLine(@"  }");
    codeCreator.AppendLine(@"");
    codeCreator.AppendLine(@"  <pines-image-gallery image-list=""images"" />");

    var imageGalleryCode = codeCreator.ToString();
    codeCreator.Clear();

}

<h2>Image Gallery</h2>
<p class="text-neutral-500 mb-5">Interactive image viewer with thumbnail navigation and fullscreen lightbox.</p>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-image-gallery image-list="images" />
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@imageGalleryCode"></code-highlight>
    </slot>
</pines-tabs>

