@page
@model PinesUI.LiveDemo.Pages.Components.ModalModel

@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs

@{
    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <pines-modal button-text=""Open Modal"">");
    codeCreator.AppendLine(@"    There is a message inside.");
    codeCreator.AppendLine(@"  </pines-modal>");


    var modalCode = codeCreator.ToString();
    codeCreator.Clear();

}

<h2>Modal</h2>
<p class="text-neutral-500 mb-5">Dialog overlays for focused interactions that require user attention.</p>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-modal button-text="Open Modal">
            There is a message inside.
        </pines-modal>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@modalCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="modal-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Default</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>title</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>""</pines-table-cell>
            <pines-table-cell>Optional title text for the modal header.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>button-text</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>"Open"</pines-table-cell>
            <pines-table-cell>Label for the trigger button.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>
<p class="text-neutral-500 text-sm mt-2 mb-8">This component also accepts child content between its opening and closing tags.</p>

