@page
@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs
@model PinesUI.LiveDemo.Pages.Components.TabsModel

@{
    ViewData["Title"] = "Tabs";

    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  @{");
    codeCreator.AppendLine(@"      var tabConfig = new Dictionary<string, PinesTabConfigItem>()");
    codeCreator.AppendLine(@"      {");
    codeCreator.AppendLine(@"          { ""TabOne"", new PinesTabConfigItem { TabName = ""January"", Order = 1 } },");
    codeCreator.AppendLine(@"          { ""TabTwo"", new PinesTabConfigItem { TabName = ""February"", Order = 2 } },");
    codeCreator.AppendLine(@"          { ""TabThree"", new PinesTabConfigItem { TabName = ""March"", Order = 3 } },");
    codeCreator.AppendLine(@"      };");
    codeCreator.AppendLine(@"  }");
    codeCreator.AppendLine(@"");
    codeCreator.AppendLine(@"  <pines-tabs tab-config=""tabConfig"">");
    codeCreator.AppendLine(@"      <slot name=""TabOne"">");
    codeCreator.AppendLine(@"          <p>This is the content of Tab 1.</p>");
    codeCreator.AppendLine(@"      </slot>");
    codeCreator.AppendLine(@"      <slot name=""TabTwo"">");
    codeCreator.AppendLine(@"          <p>This is the content of Tab 2.</p>");
    codeCreator.AppendLine(@"      </slot>");
    codeCreator.AppendLine(@"      <slot name=""TabThree"">");
    codeCreator.AppendLine(@"          <p>This is the content of Tab 3.</p>");
    codeCreator.AppendLine(@"      </slot>");
    codeCreator.AppendLine(@"  </pines-tabs>");

    var tabsCode = codeCreator.ToString();
    codeCreator.Clear();

    var demoTabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "TabOne", new PinesTabConfigItem { TabName = "January", Order = 1 } },
        { "TabTwo", new PinesTabConfigItem { TabName = "February", Order = 2 } },
        { "TabThree", new PinesTabConfigItem { TabName = "March", Order = 3 } },
    };

}

<h2>Tabs</h2>
<p class="text-neutral-500 mb-5">Tabbed content panels for organizing related content into switchable views.</p>

<h3>Basic Tabs</h3>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-tabs tab-config="demoTabConfig">
            <slot name="TabOne">
                <p>This is the content of Tab 1.</p>
            </slot>
            <slot name="TabTwo">
                <p>This is the content of Tab 2.</p>
            </slot>
            <slot name="TabThree">
                <p>This is the content of Tab 3.</p>
            </slot>
        </pines-tabs>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@tabsCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="tabs-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Default</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>tab-config</pines-table-cell>
            <pines-table-cell>Dictionary&lt;string, PinesTabConfigItem&gt;</pines-table-cell>
            <pines-table-cell>new Dictionary&lt;&gt;()</pines-table-cell>
            <pines-table-cell>Tab configuration (key = slot name, value = config).</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>class</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>""</pines-table-cell>
            <pines-table-cell>Additional CSS classes.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>

<h4>PinesTabConfigItem Properties</h4>

<pines-table table-id="tabs-config-item-props">
    <pines-table-header>
        <pines-table-cell is-header="true">Property</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>TabName</pines-table-cell>
            <pines-table-cell>string</pines-table-cell>
            <pines-table-cell>Display label for the tab.</pines-table-cell>
        </pines-table-row>
        <pines-table-row>
            <pines-table-cell>Order</pines-table-cell>
            <pines-table-cell>int</pines-table-cell>
            <pines-table-cell>Sort order for tab positioning.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>

<p class="text-neutral-500 text-sm mt-2 mb-8">This component accepts named slot children: <code>&lt;slot name="SlotKey"&gt;</code> matching the dictionary keys.</p>
