@page
@model PinesUI.LiveDemo.Pages.Components.TextAnimationModel

@using System.Text
@using TechGems.PinesUI.Views.Components.PinesTabs

@{
    var tabConfig = new Dictionary<string, PinesTabConfigItem>()
    {
        { "Preview", new PinesTabConfigItem { TabName = "Preview", Order = 1 } },
        { "Code", new PinesTabConfigItem { TabName = "Code", Order = 2 } },
    };

    StringBuilder codeCreator = new StringBuilder();
    codeCreator.AppendLine(@"  <pines-text-animation animation-type=""Scale"">");
    codeCreator.AppendLine(@"    There is a message inside.");
    codeCreator.AppendLine(@"  </pines-text-animation>");

    var textAnimationCode = codeCreator.ToString();
    codeCreator.Clear();

}

<h2>Text Animation</h2>
<p class="text-neutral-500 mb-5">GSAP-powered text entrance animations with scale, slide, and fade effects.</p>

<pines-tabs tab-config="tabConfig">
    <slot name="Preview">
        <pines-text-animation animation-type="Scale">
            There is a message inside.
        </pines-text-animation>
    </slot>
    <slot name="Code">
        <code-highlight lang="html" code="@textAnimationCode"></code-highlight>
    </slot>
</pines-tabs>

<h3>Parameters</h3>
<pines-table table-id="text-animation-params">
    <pines-table-header>
        <pines-table-cell is-header="true">Attribute</pines-table-cell>
        <pines-table-cell is-header="true">Type</pines-table-cell>
        <pines-table-cell is-header="true">Default</pines-table-cell>
        <pines-table-cell is-header="true">Description</pines-table-cell>
    </pines-table-header>
    <tbody class="divide-y divide-neutral-200">
        <pines-table-row>
            <pines-table-cell>animation-type</pines-table-cell>
            <pines-table-cell>PinesTextAnimationTypeEnum: Scale | SlideUp | FadeIn</pines-table-cell>
            <pines-table-cell>FadeIn</pines-table-cell>
            <pines-table-cell>The animation effect.</pines-table-cell>
        </pines-table-row>
    </tbody>
</pines-table>
<p class="text-neutral-500 text-sm mt-2 mb-8">This component also accepts child content between its opening and closing tags.</p>