@using TechGems.PinesUI.Views.Components.PinesBreadcrumbs;
@model PinesBreadcrumb

<nav class="flex justify-between">
    <ol class="inline-flex items-center mb-3 space-x-1 text-xs text-neutral-500 [&_.active-breadcrumb]:text-neutral-600 [&_.active-breadcrumb]:font-medium sm:mb-0">
        @Model.ChildContent
    </ol>
</nav>