@using PinesUI.StaticComponents.Views.Components.PinesRadioGroup;
@model PinesRadioGroup

<div x-data="{ radioGroupSelectedValue: null }" class="space-y-3">
    @foreach(var option in Model.OptionsList)
    {
        <label @@click="radioGroupSelectedValue=option.value" class="flex items-start p-5 space-x-3 bg-white border rounded-md shadow-sm hover:bg-gray-50 border-neutral-200/70">
            <input type="radio" asp-for="@Model.InputExpression" value="@option.Value" class="text-gray-900 translate-y-px focus:ring-gray-700" />
            <span class="relative flex flex-col text-left space-y-1.5 leading-none">
                <span class="font-semibold">@option.Title</span>
                <span class="text-sm opacity-50">@option.Description</span>
            </span>
        </label>
    }
</div>